package catalog

import (
	"github.com/labstack/echo/v4"
	"gostart-crm/internal/template/component/article"
	"gostart-crm/internal/template/layout"
)

templ Base(c echo.Context, mainProps layout.MainProps) {
	@layout.Main(c, mainProps) {
		@article.Article(mainProps.CategoryName) {
			{ children... }
		}
	}
}
