package catalog

import (
	"fmt"
	"github.com/labstack/echo/v4"
	"gostart-crm/internal/catalog/product"
	"gostart-crm/internal/catalog/product_status"
	"gostart-crm/internal/template/component/button"
	"gostart-crm/internal/template/component/form"
	"gostart-crm/internal/template/component/table"
	"gostart-crm/internal/template/layout"
)

type ListProps struct {
	MainProps layout.MainProps
	Statuses  []productstatus.ProductStatus
	Products  []product.Product
	Request   product.ListDataRequest
}

templ List(c echo.Context, props ListProps) {
	@Base(c, props.MainProps) {
		<section
			x-data="{
				table: tableModel(),
				discounts: sse('/random/discounts'),
				init() { this.discounts.init() },
				destroy() { this.discounts.destroy() },
			}"
			class="flex-1 flex flex-col gap-4"
		>
			@Toolbar(c)
			@Table(c, props)
		</section>
	}
}

templ Toolbar(c echo.Context) {
	<div class="flex flex-wrap gap-2 justify-between">
		<div class="flex gap-2">
			@button.Button(button.Props{
				Icon:     "fa fa-rotate",
				Variant:  "ghost",
				SpinIcon: true,
				Attributes: templ.Attributes{
					"type":      "button",
					"hx-get":    c.Request().URL.Path,
					"hx-select": "#hx-main",
					"hx-target": "#hx-main",
					"hx-swap":   "outerHTML",
				},
			})
			@form.Search(form.SearchProps{
				SearchBy:    []string{"Name", "Code"},
				Placeholder: "Search...",
				Attributes: templ.Attributes{
					"hx-get":     c.Request().URL.Path,
					"hx-select":  "#hx-table tbody",
					"hx-target":  "#hx-table tbody",
					"hx-swap":    "outerHTML",
					"hx-include": "[name='search-by']",
					":hx-vals":   "JSON.stringify({ filters: table.filters })",
					"hx-trigger": "change from:select[name=search-by], change",
					"hx-sync":    "this:replace",
				},
			})
		</div>
		<div class="flex gap-2 overflow-x-auto">
			@button.Button(button.Props{
				Label:    "Order",
				Icon:     "fa fa-cart-shopping",
				Variant:  "primary",
				AddClass: "disabled:text-zinc-300 disabled:bg-zinc-600",
				Attributes: templ.Attributes{
					"type":      "button",
					"hx-get":    "/client/order",
					"hx-target": "body",
					"hx-swap":   "beforeend",
					":disabled": "table.selected.length == 0",
				},
			})
			@button.Button(button.Props{
				Label:    "Quick Order",
				Icon:     "fa fa-truck-fast",
				Variant:  "secondary",
				AddClass: "disabled:text-zinc-300 disabled:bg-zinc-600",
				Attributes: templ.Attributes{
					"disabled":    true,
					"type":        "button",
					"hx-post":     "/client/order",
					"hx-select":   "#hx-main",
					"hx-target":   "#hx-main",
					"hx-swap":     "outerHTML",
					":hx-vals":    "JSON.stringify({ selected: table.selected })",
					":hx-confirm": "`Are you sure you want to Quick Order the ${table.selected.length} selected ${makePlural('product', table.selected.length)}?`",
					":disabled":   "table.selected.length == 0",
				},
			})
		</div>
	</div>
}

func productStatusesToTableFilters(statuses []productstatus.ProductStatus) []table.Filter {
	var filters []table.Filter
	for _, status := range statuses {
		filters = append(filters, table.Filter{Label: status.Name.V, Value: fmt.Sprint(status.ID)})
	}
	return filters
}

templ Table(c echo.Context, props ListProps) {
	<div id="hx-table" class="relative flex-1 sm:min-h-36">
		<div class="sm:absolute sm:inset-0">
			@table.Table(table.TableProps{
				Attributes: templ.Attributes{"x-model": "table"},
				Columns: []table.Column{
					{IsCheckbox: true},
					{Label: "Name"},
					{Label: "Description"},
					{Label: "Status", Field: "status", Filters: productStatusesToTableFilters(props.Statuses)},
					{Label: "Quantity"},
					{Label: "Price"},
					{Label: "Discount"},
					{IsBlank: true},
				},
				ColumnAttributes: templ.Attributes{
					"hx-get":     c.Request().URL.Path,
					"hx-select":  "#hx-table tbody",
					"hx-target":  "#hx-table tbody",
					"hx-swap":    "outerHTML",
					"hx-include": "[name='search'],[name='search-by']",
					":hx-vals":   "JSON.stringify({ filters: table.filters })",
					"hx-sync":    "this:replace",
				},
				FooterXText: "discounts.updatedAt",
			}) {
				@Rows(c, props)
			}
		</div>
	</div>
}

templ Rows(c echo.Context, props ListProps) {
	for i, v := range props.Products {
		@table.Row(table.RowProps{
			HXInfiniteScroll: &table.HXInfiniteScrollProps{
				IsLastRow: len(props.Products) == i+1,
				NextURL:   c.Request().URL.Path,
				NextParam: "offset",
				NextValue: fmt.Sprint(props.Request.Offset + len(props.Products)),
				Attributes: templ.Attributes{
					"hx-include": "[name='search'],[name='search-by']",
					":hx-vals":   "JSON.stringify({ filters: table.filters })",
				},
			},
		}) {
			@table.CellWithCheckbox(fmt.Sprint(v.ID))
			@table.CellWithValueAndID(v.Name.V, v.Code.V, v.Code.V)
			@table.CellWithValue(v.Description.V)
			@table.Cell() {
				<span
					style={ fmt.Sprintf("background-color: #%s;", v.Status.Color.V) }
					class={ "text-xs capitalize px-2 py-0.5 rounded-full" }
				>
					{ v.Status.Text.V }
				</span>
			}
			@table.CellWithValue(fmt.Sprint(v.Quantity.V))
			@table.CellWithValue(fmt.Sprint(v.Price.V))
			@table.Cell() {
				<span x-text="discounts.data[$el.dataset.id]?.value" data-id={ v.ID } class="text-xs"></span>
			}
			@table.CellWithDropdown() {
				@button.Button(button.Props{
					Label:   "Quick Order",
					Icon:    "fa fa-truck-fast",
					Variant: "ghost",
					Attributes: templ.Attributes{
						"type":       "button",
						"hx-post":    fmt.Sprintf("/client/order?selected=%d", v.ID),
						"hx-select":  "#hx-main",
						"hx-target":  "#hx-main",
						"hx-swap":    "outerHTML",
						"hx-confirm": fmt.Sprintf("Are you sure you want to order the product %s?", v.Name.V),
					},
				})
			}
		}
	}
}
