@use "@fontsource-variable/inter/scss/mixins" as Inter;
@include Inter.faces($directory: '../fonts');

$fa-font-path: '../fonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'w2ui/dist/w2ui.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// Fix w2ui grid advanced search font size
.w2ui-overlay-body {

  .search-logic select,
  .operator select,
  .value input {
    font-size: 13px;
    font-weight: normal;
  }

}