package article

templ Article(header string) {
	<article class="mx-auto container flex flex-col">
		<header class="mb-4">
			<h1 class="text-4xl font-extrabold">
				{ header }
			</h1>
		</header>
		{ children... }
	</article>
}
