package views

templ Index(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>w2go</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link href="/assets/index.css" rel="stylesheet"/>
			<script type="module" src="/assets/admin.bundle.js"></script>
		</head>
		<body>
			<div id="page" class="w-screen h-screen"></div>
		</body>
	</html>
}
