package form

templ Field() {
	<div x-data x-id="['field']" class="group">
		{ children... }
	</div>
}

type FieldLabelProps struct {
	Label      string
	Error      string
	IsRequired bool
}

templ FieldLabel(props FieldLabelProps) {
	<div class="relative">
		<label :for="$id('field')" required?={ props.IsRequired } class="text-sm font-medium">
			{ props.Label }
		</label>
		<span
			:id="'error-'+$id('field')"
			class={
				"px-1.5 py-1 rounded text-xs font-medium bg-red-700",
				"group-[&:has(input:disabled)]:hidden empty:hidden",
				"absolute right-0 bottom-0 max-w-[75%] max-h-10 overflow-auto",
			}
		>
			{ props.Error }
		</span>
	</div>
}

type FieldInputProps struct {
	Type         string
	Placeholder  string
	Name         string
	Value        string
	Autocomplete string
	IsRequired   bool
	Attributes   templ.Attributes
}

templ FieldInput(props FieldInputProps) {
	<input
		:id="$id('field')"
		type={ props.Type }
		name={ props.Name }
		value={ props.Value }
		placeholder={ props.Placeholder }
		if props.Autocomplete == "" {
			autocomplete="off"
		} else {
			autocomplete={ props.Autocomplete }
		}
		required?={ props.IsRequired }
		{ props.Attributes... }
		class={
			"text-sm mt-2 px-2 py-1.5 w-full rounded border",
			"bg-zinc-900 border-zinc-700 focus:border-sky-600 focus:ring-sky-600",
			"disabled:!bg-zinc-800 disabled:!border-zinc-700 disabled:!text-zinc-400",
			"group-[&:has(span:not(:empty))]:border-red-500",
			"group-[&:has(span:not(:empty))]:focus:border-red-500",
			"group-[&:has(span:not(:empty))]:focus:ring-red-500",
		}
	/>
}
