package form

type FormProps struct {
	Title       string
	Description string
	Attributes  templ.Attributes
}

templ Form(props FormProps) {
	<form { props.Attributes... }>
		if props.Title != "" || props.Description != "" {
			<header class="mb-6">
				if props.Title != "" {
					<h2 class="text-xl font-bold">{ props.Title }</h2>
				}
				if props.Description != "" {
					<p class="text-sm text-zinc-400">{ props.Description }</p>
				}
			</header>
		}
		<section class="space-y-6">
			{ children... }
		</section>
	</form>
}
