package form

type SearchProps struct {
	SearchBy    []string
	Placeholder string
	Attributes  templ.Attributes
}

templ Search(props SearchProps) {
	<div x-data x-id="['search']" class="flex items-center w-full px-2 py-1.5 rounded border border-zinc-700 has-[:focus]:border-sky-600 has-[:focus]:ring-1 has-[:focus]:ring-sky-600">
		<label :for="$id('search')" class="fa fa-search mr-2 text-zinc-400" aria-hidden="true"></label>
		if len(props.SearchBy) > 0 {
			<select id="search-by" name="search-by" class="text-sm py-0 pl-2 pr-8 rounded border-0 bg-transparent focus:ring-0 text-zinc-400">
				for _, by := range props.SearchBy {
					<option class="m-2 bg-zinc-900">{ by }</option>
				}
			</select>
		}
		<input :id="$id('search')" type="search" name="search" placeholder={ props.Placeholder } { props.Attributes... } class="text-sm p-0 w-full border-0 focus:ring-0 bg-transparent"/>
	</div>
}
