package layout

import (
	"fmt"
	"github.com/labstack/echo/v4"
)

templ Base(c echo.Context) {
	<!DOCTYPE html>
	<html lang="en" class="dark">
		<head>
			<title>E-Commerce CRM Demo</title>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="manifest" href="/site.webmanifest"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin/>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="/client.css"/>
			<script type="module" src="/client.js"></script>
		</head>
		<body
			hx-headers={ fmt.Sprintf(`{ "X-CSRF-Token": "%s" }`, c.Get("csrf").(string)) }
			class="bg-zinc-800 text-zinc-50 antialiased"
		>
			{ children... }
		</body>
	</html>
}
