package layout

import (
	"github.com/labstack/echo/v4"
	"gostart-crm/internal/catalog/category"
	"gostart-crm/internal/template/component/sidebar"
)

type MainProps struct {
	CategoryName string
	CategoryTree category.Category
}

func categoryTreeToSidebarGroups(tree category.Category) []sidebar.Group {
	var groups []sidebar.Group

	for _, root := range tree.Children {
		rootGroup := sidebar.Group{Label: root.Name.V}
		for _, l1 := range root.Children {
			rootGroup.Items = append(rootGroup.Items, sidebar.Item{
				Link:  "/client/catalog/" + l1.CategoryURL,
				Label: l1.Name.V,
				Icon:  l1.Icon.V,
			})
		}
		groups = append(groups, rootGroup)
	}

	return groups
}

templ Main(c echo.Context, props MainProps) {
	@Base(c) {
		<div class="flex flex-col sm:flex-row min-h-screen min-w-[240px]">
			<div id="hx-sidebar" class="sm:w-[240px]">
				<div class="sm:w-[240px] sm:fixed sm:inset-0 p-2 sm:overflow-y-auto">
					@sidebar.Sidebar(sidebar.SidebarProps{
						Path:    c.Request().URL.Path,
						Label:   "Demo CRM / E-Commerce",
						Link:    "/client",
						Address: "@" + c.Request().Host,
						GroupsTop: []sidebar.Group{
							{
								Items: []sidebar.Item{
									{Link: "/client", Label: "Home", Icon: "fa fa-home", IsRoot: true},
								},
							},
						},
						GroupsMiddle: categoryTreeToSidebarGroups(props.CategoryTree),
						GroupsBottom: []sidebar.Group{
							{
								Label: "Project",
								Items: []sidebar.Item{
									{Link: "/", Label: "w2ui/admin demo", Icon: "fa fa-gears", IsExternal: true},
									{Link: "https://github.com/dv1x3r/gostart-crm", Label: "GitHub Project", Icon: "fa-brands fa-github", IsExternal: true},
								},
							},
						},
					})
				</div>
			</div>
			<main id="hx-main" class="flex-1 flex overflow-x-auto sm:my-2 sm:mr-2 sm:rounded-lg sm:shadow-lg bg-zinc-900 p-4">
				{ children... }
			</main>
		</div>
	}
}
