package admin

import "github.com/labstack/echo/v4"

templ Dashboard(c echo.Context) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>E-Commerce CRM Demo</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="csrf-token" content={ c.Get("csrf").(string) }/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin/>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="/admin.css"/>
			<script type="module" src="/admin.js"></script>
		</head>
		<body>
			<div id="main-layout" style="width: 100vw; height: 100vh; min-width: 1200px;"></div>
		</body>
	</html>
}
