package tabs

import "strings"

type Item struct {
	Link   string
	Label  string
	Icon   string
	IsRoot bool
}

func (i Item) IsActive(path string) bool {
	if i.IsRoot {
		return path == i.Link
	}
	return strings.HasPrefix(path, i.Link)
}

type TabsProps struct {
	Path  string
	Items []Item
}

templ Tabs(props TabsProps) {
	<nav hx-boost="true" hx-indicator="find .hx-indicator" hx-inherit="hx-boost hx-indicator" class="mb-4">
		<ul class="flex overflow-x-auto max-w-full w-fit px-2 py-1 gap-2 rounded-lg bg-zinc-800 text-zinc-400">
			for _, item := range props.Items {
				<li>
					<a
						href={ templ.URL(item.Link) }
						class={
							"px-2 py-1.5 inline-flex items-center justify-center gap-2 rounded transition active:scale-[0.98]",
							templ.KV("hover:bg-zinc-700", !item.IsActive(props.Path)),
							templ.KV("bg-zinc-600 text-zinc-100", item.IsActive(props.Path)),
						}
					>
						if item.Icon != "" {
							<span
								x-data="htmxRequestObserver"
								:class="{ 'fa-beat-fade': isHtmxRequestActive }"
								class={ item.Icon,  "hx-indicator" }
								aria-hidden="true"
							></span>
							if item.Label != "" {
								<span class="text-sm font-medium">{ item.Label }</span>
							}
						} else {
							<span x-data="htmxRequestObserver" :class="{ 'fa-fade': isHtmxRequestActive }" class="text-sm font-medium hx-indicator">{ item.Label }</span>
						}
					</a>
				</li>
			}
		</ul>
	</nav>
}
