@import 'w2ui/dist/w2ui.css';

* {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}

[type=checkbox],
[type=radio] {
  height: 1rem;
  width: 1rem;
}

/* Fix w2ui form border */
.w2ui-page {
  border: none !important;
}