package button

type Props struct {
	Label      string
	Icon       string
	Variant    string
	AddClass   string
	SpinIcon   bool
	Attributes templ.Attributes
}

templ Button(props Props) {
	<button
		{ props.Attributes... }
		hx-indicator="find .hx-indicator"
		hx-disabled-elt="this"
		class={
			"px-2 py-1.5 flex items-center gap-2 rounded transition text-nowrap enabled:active:scale-[0.98]",
			templ.KV("text-zinc-100 bg-sky-600 enabled:hover:bg-sky-700", props.Variant == "primary"),
			templ.KV("text-zinc-900 bg-zinc-100 enabled:hover:bg-zinc-300", props.Variant == "secondary"),
			templ.KV("text-zinc-100 bg-red-700 enabled:hover:bg-red-800", props.Variant == "destructive"),
			templ.KV("border border-zinc-700 enabled:hover:bg-zinc-700", props.Variant == "outline"),
			templ.KV("hover:bg-zinc-800", props.Variant == "ghost"),
			props.AddClass,
		}
	>
		if props.Icon != "" {
			<span
				x-data="htmxRequestObserver"
				aria-hidden="true"
				if props.SpinIcon {
					:class="{ 'fa-spin': isHtmxRequestActive }"
				} else {
					:class="{ 'fa-beat-fade': isHtmxRequestActive }"
				}
				class={ props.Icon, "text-sm w-4 hx-indicator" }
			></span>
		}
		if props.Label != "" {
			<span
				x-data="htmxRequestObserver"
				:class="{ 'fa-fade': isHtmxRequestActive }"
				class="text-sm font-medium hx-indicator"
			>
				{ props.Label }
			</span>
		}
	</button>
}
